*{
    font-family: 'sans-serif',Helvetica ;
}

form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form input{
    padding: 10px;
    margin-left: 10px;
    border: 1px solid lightgreen;
}
h1{
    text-align: center;
}
form button{
    padding: 10px 40px;
    margin-left: 10px;
    background-color: lightgreen;
    border: none;
}
ul{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 72%;
    margin-left: 11%;
}
ul li{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 45px;
    margin-bottom: 10px;
    background-color: lightgreen;
}

ul li button{
     border: none;
     background-color: lightgreen;
     cursor: pointer;
}